@use '../../abstracts/colors' as *;
@use '../../abstracts/mixins' as *;

// burger menu
.burger-menu {
    width: 2rem;
    height: 2rem;
    position: fixed;
    top: 15px;
    right: 20px;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;

    div {
      width: 3rem;
      height: 0.25rem;
      background-color: plum;
      border-radius: 10px;
    }
}