@use '../../../styles/abstracts/colors' as *;
@use '../../../styles/abstracts/fonts' as *;
@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/abstracts/variables' as *;

.events {
	margin: 5rem 2rem;

	color: $clr-white;

	h2 {
		width: 100%;
	}

  &__container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
