// COLOR VARIABLES
// $clr-background: hsl(240, 3%, 21%);
$clr-background: hsl(0, 0%, 10%);

$clr-card: hsl(0, 0%, 14%);
$clr-border-card: hsl(0, 0%, 30%);

$clr-white: hsla(0, 100%, 100%, 1);
$clr-light-grey: hsla(0, 0%, 100%, 0.85);

$clr-goldweb: hsl(51, 100%, 50%);
$clr-goldweb-glow: hsl(51, 50%, 50%);

$clr-blue: hsl(229, 81%, 75%);
$clr-orange: hsl(41, 62%, 63%);
$clr-green: hsl(96, 23%, 55%);
$clr-tile: hsl(20, 41%, 54%);
