@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.events {
	margin: 0 2rem;

	color: $clr-white;

	h2 {
		width: 100%;
	}

  &__container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
