@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

// FEATURE SECTION
.features {
  max-width: 1200px;
	margin: 0 auto;
	padding: 5em 0;

	color: $clr-white;

	h2 {
		margin-bottom: .7em;

		font-size: 3rem;
		font-weight: $f-w-600;
	}

	&__blur {
		background: linear-gradient(267.56deg, #232428 22.11%, #5E7CF1 40.73%, #1E6BFF 54.78%, #133E04 69.88%, #9BCFF2 89.56%);
		position: absolute;
    width: 100%;
    height: 150px;
    opacity: .4;
    -webkit-filter: blur(160px);
    filter: blur(160px);
	}

	&__header {
		margin-bottom: 10rem;

		p {
			width: 35rem;

			font-size: $f-s-480;
			font-weight: $f-w-300;
			letter-spacing: .04rem;
		}
	}

	&__container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1.5em;
  }
}