@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;
@use '../abstracts/mixins' as *;

// HERO SECTION
	.hero {
	margin: 0 auto 25em auto;

	color: $clr-white;

	h1 {
		margin-bottom: 1.9rem;

		@include nine__hundred {
			font-size: $f-s-1700;
		}

		@include seven__hundred {
			font-size: $f-s-1300;
		}
	}

	p {
		margin-bottom: 3em;

		font-size: $f-s-560;
		font-weight: $f-w-300;
		line-height: 1.3em;
		color: $clr-light-grey;

		@include seven__hundred {
			font-size: $f-s-440;
		}

		span {
			font-weight: $f-w-600;
			color: $clr-goldweb;
		}
	}

	img {
		position: absolute;
		top: 115px;
		width: 100vw;
		height: auto;
		z-index: -1;
	}

	&__message {
		margin-top: 5rem;

		text-align: center;
	}
}
