@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

// STORY SECTION
.story {
	margin: 5rem 2rem;

	h2 {
		padding-bottom: 3rem;

		color: $clr-white;
		text-align: center;

		@include nine__hundred {
			padding-bottom: 1.5rem;
		}

		@include seven__hundred {
			width: 100%;
		}
	}

	p {
		padding-bottom: 2rem;

		color: $clr-white;
	}

	img {
		width: 100%;
		height: auto;
	}

	&__container {
		max-width: 1200px;
		margin: 0 auto;
	}

	&__content {
		display: flex;
		align-content: center;
		gap: 2rem;

		@include nine__hundred {
			flex-direction: column;
		}

		&--image {
			align-self: center;

			width: 50%;

			@include nine__hundred {
				width: 75%;
			}
		}

		&--text {
			width: 50%;

			@include nine__hundred {
				width: 100%;
			}
		}
	}
}
