// TEAM SECTION
@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.team {
  max-width: 1200px;
	margin: 0 auto;
	padding: 5em 0;

	color: white;

	@include twelve__hundred {
		margin: 0 5rem;
	}

	h2 {
		margin-bottom: 2em;
	}

	&__grid {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 1.5em;
	}
}
