// TEAM SECTION
.team {
  max-width: 1200px;
	margin: 0 auto;
	padding: 5em 0;

	color: white;

	h2 {
		margin-bottom: 2em;
	}

	&__grid {
		display: flex;
		justify-content: center;
		gap: 1.5em;
	}
}