@use '../../abstracts/colors' as *;
@use '../../abstracts/fonts' as *;

form {
	color: $clr-white;

	& > div {
		margin-bottom: 2rem;
	}

	label {
		margin-bottom: 0.5rem;
	}

	input {
		width: 100%;
		padding: 1em;
		border: 0.1rem solid $clr-border-card;
		border-radius: 0.2rem;
	}

	textarea {
		width: 100%;
		height: 10rem;
		padding: 1em;
		border: 0.1rem solid $clr-border-card;
		border-radius: 0.2rem;
	}

	button {
		padding: 0.5rem 2rem;
		background-color: $clr-goldweb;
		border-radius: 0.2rem;

		font-size: $f-s-420;
		font-weight: $f-w-500;
		color: $clr-background;

		transition: all 0.2s ease-in-out;

		&:hover {
			-webkit-box-shadow: 0 0 1rem $clr-goldweb-glow;
			box-shadow: 0 0 1rem $clr-goldweb-glow;
		}
	}
}
