@use '../../styles/abstracts/colors' as *;
@use '../../styles/abstracts/fonts' as *;
@use '../../styles/abstracts/mixins' as *;
@use '../../styles/abstracts/variables' as *;

.contact {
	margin: 0 2rem;

	h3 {
		font-size: $f-s-1200;
    font-weight: $f-w-600;
		color: $clr-white;

    margin-bottom: 3rem;
	}

	p {
		padding-bottom: 2rem;
		font-size: $f-s-500;
		font-weight: $f-w-200;
		text-align: center;
		color: $clr-light-grey;
	}

  img {
    margin-right: 2rem;
  }

	&__container {
	width: 100%;
	max-width: 1200px;
  margin-top: 11rem;
	margin-bottom: 5rem;
	margin-left: auto;
	margin-right: auto;
	}

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		padding: 0 1rem;

		@include nine__hundred {
			flex-direction: column-reverse;
			gap: 5rem;
		}
	}

	&__links {
    margin: auto 0;

		color: $clr-white;

    &>div {
      margin-bottom: 3rem;
    }

		span {
			font-size: $f-s-380;
			font-weight: $f-w-200;
		}

    &--buttons {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

		&--map {
			display: flex;
      align-items: center;
		}

		&--call {
			display: flex;
      align-items: center;

			a {
				width: 10rem;
			}
		}

		&--email {
			display: flex;
			align-items: center;
		}
	}

  &__touch {
    width: 47%;

		@include nine__hundred {
			width: 90%;
		}
  }

	&__form {
		display: flex;
		gap: 2rem;
		align-items: center;

    width: 47%;
    padding: 2rem;
		background-color: $clr-card;
		border: 0.01rem solid $clr-border-card;
		border-radius: 0.7rem;

		@include nine__hundred {
			width: 90%;
		}

    input {
      width: 100%;
    }
	}
}

.callbtn {
  padding-bottom: 0;
}
