@use '../../../styles/abstracts/colors' as *;
@use '../../../styles/abstracts/fonts' as *;
@use '../../../styles/abstracts/mixins' as *;

// FEATURE SECTION
.features {
	margin: 0 2rem;

	&__container {
		max-width: 1200px;
		margin: 0 auto;
		padding: 5em 0;

		color: $clr-white;
	}

	&__header {
		margin-bottom: 10rem;

		@include seven__hundred {
			margin-bottom: 5rem;
		}

		p {
			width: 35rem;

			font-size: $f-s-480;
			font-weight: $f-w-300;
			letter-spacing: .04rem;

			@include seven__hundred {
				width: fit-content;

				font-size: $f-s-400;
				line-height: 1.5rem;
			}
		}
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1.5em;
  }
}