@use '../../../styles/abstracts/colors' as *;
@use '../../../styles/abstracts/fonts' as *;
@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/abstracts/variables' as *;

.events--card {
  position: relative;
  display: flex;

  height: 20rem;
  margin: 0 2rem;
  margin-bottom: 3rem;
  background-color: $clr-card;
  border: 0.01rem solid $clr-border-card;
  border-radius: 2rem;

  img {
    position: absolute;
    left: -2rem;
    top: 1.5rem;

    width: 25rem;
    height: 17rem;
    border-radius: 2rem;
  }

  &__content {
    display: flex;
    align-items: center;

    width: 100%;

    &--invisible {
      width: 35%;
    }

    &--text {
      width: 30%;


      h3 {
        margin-bottom: 1rem;

        font-size: 1.7rem;
        font-weight: 600;
      }
    }

    &--loc {
      display: flex;
      flex-direction: column;

      width: 30%;
      height: 85%;

      text-align: end;

      h4 {
        padding-bottom: 1rem;
        font-size: 1.3rem;
        font-weight: 600;
      }

      p {
        font-weight: 200;
      }
    }
  }

  &__date {
    position: absolute;
    bottom: 1.5rem;
    right: 3.5rem;
  }
}