@use '../../abstracts/colors' as *;
@use '../../abstracts/fonts' as *;

.card--small {
	position: relative;

	background-color: $clr-card;
	border: 0.01rem solid $clr-border-card;
	border-radius: 2rem;

	h3 {
		padding-bottom: 0.7em;

		font-size: $f-s-480;
		font-weight: $f-w-600;
		letter-spacing: 0.04rem;
	}

	p {
		position: inherit;

		bottom: 2rem;

		font-size: $f-s-380;
		font-weight: $f-w-200;
		letter-spacing: 0.02rem;
	}

	border-color: red;

	& > * {
		position: absolute;
	}

	&__content {
		width: 90%;
		height: 100%;
		margin: 0 1rem;
		padding-bottom: 2em;
	}

	&__icon {
		width: 8em;
		height: auto;
	}
}

