@use '../../abstracts/colors' as *;
@use '../../abstracts/fonts' as *;
@use '../../abstracts/mixins' as *;

.product--details {
	display: flex;
	align-items: center;

	max-width: 1200px;
	margin: 3rem auto;
	background-color: rgba(255, 255, 255, 0.9);
	border: 0.01rem solid white;
	border-radius: 2rem;
	backdrop-filter: blur(1rem);
	box-shadow: 0 1rem 1.5rem $clr-background;

	img {
		height: fit-content;
	}

	@include thousand {
		flex-direction: column;
	}

	&__images {
		display: grid;
		grid-template-columns: 25% 75%;
		align-items: center;

		width: 100%;

		@include eleven__hundred {
			grid-template-columns: 1fr;
		}
	}

	&__carrousel {
		height: auto;
		margin: 1.5rem;

		border-radius: 1rem;

		@include eleven__hundred {
			order: 1;

			display: flex;
		}

		&>div {
			margin-bottom: 1rem;
		}

		img {
			&:first-child {
				border-top-left-radius: 1rem;
				border-top-right-radius: 1rem;
			}

			&:last-child {
				margin-bottom: 0;
				border-bottom-left-radius: 1rem;
				border-bottom-right-radius: 1rem;
			}
		}
	}

	&__image {
		width: 100%;
	}

	&__content {
		width: 40%;
		padding: 2em;

		color: $clr-background;

		@include thousand {
			display: flex;
			gap: 4rem;

			width: 100%;
		}

		@include seven__hundred {
			flex-direction: column;
		}

		h3 {
			margin-bottom: 1rem;

			font-size: $f-s-700;
			font-weight: $f-w-600;
			line-height: 2rem;

			@include four__hundred {
				line-height: 2rem;
			}
		}

		&--text {
			margin-bottom: 2rem;

			@include thousand {
				width: 50%;
			}

			@include seven__hundred {
				width: 100%;

				margin:  0;
			}
		}

		&--icon {
			display: flex;
			gap: 1em;
			align-items: center;

			margin-bottom: 1rem;
		}

		&--features {
			display: grid;
			grid-template-columns: repeat(2, 1fr);

			@include eleven__hundred {
				grid-template-columns: 1fr;
			}

			@include thousand {
				grid-template-columns: repeat(2, 1fr);
			}

			@include four__hundred {
				grid-template-columns: 1fr;
			}
		}
	}
}

.active {
	background-color: $clr-background;
	border-radius: 1rem;
}
