@use '../../abstracts/colors' as *;
@use '../../abstracts/fonts' as *;

.team__card {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 15rem;
    height: auto;
    padding-top: 1em;
    background-color: $clr-goldweb;
    border-radius: .7rem;
  }

  h4 {
    padding-top: 2em;
    padding-bottom: .4em;
    font-size: $f-s-440;
    font-weight: $f-w-500;
    color: $clr-white;
  }

  p {
		width: 15rem;

		font-size: $f-s-400;
		font-weight: $f-w-300;
		letter-spacing: .02rem;
	}
}