@use '../../styles/abstracts/colors' as *;
@use '../../styles/abstracts/fonts' as *;
@use '../../styles/abstracts/mixins' as *;
@use '../../styles/abstracts/variables' as *;

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  width: 100%;
  max-width: $max-width;
  padding: 2rem;
  margin:  0 auto;
  margin-top: 7rem;

  @include eleven__hundred {
    grid-template-columns: repeat(2, 1fr);
  }

  @include seven__hundred {
    grid-template-columns: 1fr;
  }
}