@use '../../../styles/abstracts/colors' as *;
@use '../../../styles/abstracts/fonts' as *;
@use '../../../styles/abstracts/mixins' as *;

.card--small {
	position: relative;

	background-color: $clr-card;
	border: 0.01rem solid $clr-border-card;
	border-radius: 2rem;

	@include twelve__hundred {
		padding-bottom: 20rem;
	}

	@include nine__hundred {
		display: none;
	}

	h3 {
		margin-bottom: 1rem;

		font-size: $f-s-480;
		font-weight: $f-w-600;
		letter-spacing: 0.04rem;
	}

	p {
		font-size: $f-s-380;
		font-weight: $f-w-200;
		letter-spacing: 0.02rem;
	}

	& > * {
		position: absolute;
	}

	&__content {
		position: inherit;
		top: 18rem;

		margin: 0 2rem;
	}

	&__icon {
		left: 33%;

		width: 8em;
		height: auto;

		@include twelve__hundred {
			left: 29%;

			width: 45%;
		}
	}

	&__bg {
		top: 5rem;
		left: 13%;

		@include twelve__hundred {
			left: 0%;
			width: 100%;
			padding: 0 2rem;
		}
	}
}