@use '../../../abstracts/colors' as *;
@use '../../../abstracts/fonts' as *;

.details__btn {
	width: 100%;
	padding: 1.3em;
	background-color: $clr-goldweb;
	border-radius: 0.2rem;

	font-size: $f-s-300;
	font-weight: $f-w-600;
	color: $clr-background;

	span {
		display: block;

		font-size: $f-s-420;
		font-weight: $f-w-500;
		text-align: center;
		color: $clr-background;
	}

	&:hover {
		background-color: $clr-goldweb;
    -webkit-box-shadow: 0 0 1rem $clr-goldweb;
		box-shadow: 0 0 1rem $clr-goldweb;
	}
}
