@use '../../../abstracts/colors' as *;
@use '../../../abstracts/fonts' as *;

.products__btn {
	display: block;

	width: fit-content;
	margin: 0 auto;
	padding: 0.9em 2.3em;
	background-color: $clr-goldweb;
	border-radius: 0.2rem;

	transition: all 0.2s ease-in-out;

	span {
		font-size: $f-s-420;
		font-weight: $f-w-500;
		color: $clr-background;
	}

	&:hover {
		-webkit-box-shadow: 0 0 1rem $clr-goldweb-glow;
		box-shadow: 0 0 1rem $clr-goldweb-glow;
	}
}
